* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-size: 62.5%;
  --padding-container: 0 2rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: "Public Sans", sans-serif;
}

/* header */

.header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1;
}

.container--header {
  padding: 2rem;
}

.navbar__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__links__desktop {
  display: none;
  align-items: center;
  gap: 5rem;
}

/* section__background-img */

.section__background-img {
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  /* background-position: top -7rem center; */
  background-size: cover;
  background-color: var(--very-light-gray);
}

.container--padding {
  padding: var(--padding-container);
}

.image__phone {
  position: relative;
  top: -5rem;
}

/* section-next */

.section__next {
  background-color: var(--very-light-gray);
  padding: 0 0 8rem 0;
}

.title__next {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
}

.copy__next {
  color: var(--grayish-blue);
  font-size: 1.45rem;
  line-height: 2.5rem;
  text-align: center;
}

.copy__margin {
  margin-bottom: 3rem;
}

.button__box {
  text-align: center;
}

.button {
  border-radius: 5rem;
  background-color: var(--lime-green);
  color: var(--white);
  font-size: 0.1.8rem;
  font-weight: 700;
  padding: 1.3rem 3rem;
}

/* section-choose */

.section__choose {
  background-color: var(--light-grayish-blue);
  padding: 6rem 0 6rem 0;
}

.title__choose {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
}

.subtitle__choose {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.copy__choose {
  margin-bottom: 4.5rem;
}

.icon__choose {
  margin: 0 auto;
  margin-bottom: 3rem;
}

/* section-articles */

.section__articles {
  background-color: var(--very-light-gray);
  padding: 6rem 0 4rem 0;
}

.title__articles {
  font-size: 3rem;
  font-weight: 300;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 3rem;
}

.box__articles {
  background-color: var(--white);
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.imagen__articles {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content__articles {
  padding: 2.5rem 2.5rem 4rem 2.5rem;
}

.by__articles {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.subtitle__articles {
  color: var(--dark-blue);
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.copy__articles {
  color: var(--grayish-blue);
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
}

.copy__articles3 {
  font-size: 1.37rem;
}

/* footer */

.footer {
  background-color: var(--dark-blue);
  text-align: center;
  padding: 4rem 0 4rem 0;
}

.logo__footer {
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.content__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.content__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--very-light-gray);
  font-size: 1.3rem;
}

.button__footer {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.copy__footer {
  font-size: 1.3rem;
  color: var(--grayish-blue);
}

/* mediaqueries solo imagen choose */

@media (min-width: 600px) {
  .image__money {
    width: 100%;
  }
}

/* mediaquieries de las imagenes */

@media (min-width: 650px) {
  .imagen__articles {
    width: 100%;
  }
}

/* imagen en seccion background de choose */

@media (min-width: 900px) {
  .image__phone {
    width: 100%;
  }
}

/* mediaquieres desktop 1200 */

@media (min-width: 1200px) {
  /* navbar */

  .container__desktop {
    padding: 2rem 5rem;
  }

  .icon__mobile {
    display: none;
  }

  .content__links__desktop {
    display: flex;
  }

  a {
    text-decoration: none;
    color: var(--grayish-blue);
    font-size: 1.3rem;
  }

  .button__desktop {
    margin-left: 10rem;
  }

  /* main */

  .container--padding__desktop {
    padding: 0 5rem;
  }

  .container--padding__desktop--background {
    padding: 0;
  }

  .display__main {
    display: flex;
    flex-direction: row-reverse;
  }

  .section__background-img,
  .section__next {
    flex: 1;
  }

  .section__next {
    padding: 12rem 0 0 0;
  }

  .title__next {
    text-align: left;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
  }

  .copy__next {
    color: var(--grayish-blue);
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    margin-bottom: 4rem;
  }

  .button__box {
    text-align: left;
  }

  .section__background-img__desktop {
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -14rem right -27rem;
    overflow: hidden;
  }

  .image__phone {
    position: relative;
    top: -4rem;
    right: -10rem;
  }

  /* seccion choose  */

  .section__choose {
    padding: 7rem 0 10rem 0;
  }

  .grid__choose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .title__choose {
    text-align: left;
  }

  .copy__choose {
    text-align: left;
    line-height: 2.4rem;
    font-size: 1.57rem;
    font-weight: 400;
    max-width: 100%;
    margin: 0;
  }

  .copy__choose__desktop {
    font-size: 1.8rem;
    max-width: 60%;
    margin-bottom: 5rem;
  }

  .subtitle__choose {
    text-align: left;
    margin-bottom: 3rem;
  }

  .icon__choose {
    padding-bottom: 4rem;
    margin: 0;
  }

  /* section articles  */
}
